<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neon.nilocomment.mapper.UserInfoReplicaMapper">
    <insert id="upsert">
        INSERT INTO user_info_replica (user_id, nick_name, avatar)
        VALUES (#{user.userId}, #{user.nickName}, #{user.avatar})
        AS new
        ON DUPLICATE KEY UPDATE nick_name = new.nick_name,
                                avatar    = new.avatar
    </insert>

    <delete id="deleteByUserId">
        DELETE
        FROM user_info_replica
        WHERE user_id = #{userId}
    </delete>

    <select id="selectNickNameByUserId" resultType="java.lang.String">
        SELECT nick_name
        FROM user_info_replica
        WHERE user_id = #{userId}
    </select>
</mapper>
