<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neon.nilocomment.mapper.UserInfoReplicaMapper">

    <select id="selectNickNameByUserId" resultType="java.lang.String">
        SELECT nick_name
        FROM user_info_replica
        WHERE user_id = #{userId}
    </select>

    <update id="updateNickNameByUserId">
        UPDATE user_info_replica
        SET nick_name = #{nickName}
        WHERE user_id = #{userId}
    </update>

    <update id="updateAvatarByUserId">
        UPDATE user_info_replica
        SET avatar = #{avatar}
        WHERE user_id = #{userId}
    </update>

</mapper>
